<div class="container-fluid mt-5">
  <div class="col-lg-12 col-md-12 text-white  gap-2  mt-2 "
    style=" white-space: wrap ;background-color: #438EB9; height: 40px; ">
    <h5 class="mt-3  p-2  "> Create New Caregivers </h5>
  </div>
  <div class="card mt-5 ">
    <div class="card-body ">
      <form class="row g-3" [formGroup]="caregiverForm" (ngSubmit)="caregivercreted()" >
        <div class="col-md-6">
          <label for="caregiverName" class="form-label fw-bold" style="color: rgb(97, 95, 95); ">Caregivers Name</label>
          <input type="text" class="form-control" id="caregiverName" placeholder="Caregivers Name" formControlName="caregiverName">
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label fw-bold" style="color: rgb(97, 95, 95); ">Email</label>
          <input placeholder="email" type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="col-md-6">
          <label for="password" class="form-label fw-bold" style="color: rgb(97, 95, 95); ">Password</label>
          <input placeholder="password" type="password" class="form-control" id="password" formControlName="password">
        </div>

        <div class="col-md-6">
          <label for="address" class="form-label fw-bold" style="color: rgb(97, 95, 95); ">Address</label>
          <input placeholder="address" type="text" class="form-control" id="address" formControlName="address">
        </div>

        <div class="col-md-6">
          <label for="electronicSignature" class="form-label fw-bold" style="color: rgb(97, 95, 95); ">Caregiver Certificate</label>
          <input type="file"  (change)="Onupload($event)" class="form-control" id="caregiverDocument" formControlName="electronicSignature">
        </div>
        <div class="col-md-6">
          <label for="caregiverNote" class="form-label fw-bold" style="color: rgb(97, 95, 95); ">Caregivers Notes</label>
          <textarea placeholder="Caregiver Note" class="form-control" id="caregiverNote" rows="2"
            formControlName="caregiverNote"></textarea>
        </div>


        <div class="col-12 d-flex justify-content-end fw-bold">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>