<div class="container-fluid">
    <div class="card p-3 shadow">
      <h4 style="color: #2679b5">Claim Generation</h4>
      <nav>
        <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
          <button
            class="nav-link active"
            id="nav-home-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-home"
            type="button"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
          >
            Claim Information
          </button>
          <button
            class="nav-link"
            id="nav-profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-profile"
            type="button"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
          >
            Advanced
          </button>
          <!-- <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button> -->
        </div>
      </nav>
      <div class="tab-content p-3 border bg-light" id="nav-tabContent ">
        <div
          class="tab-pane fade active show"
          id="nav-home"
          role="tabpanel"
          aria-labelledby="nav-home-tab"
        >
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
              <h6>Statement Period</h6>
              <div style="border-top: 1px solid rgb(166, 166, 166)"></div>
              <div class="mt-3 row">
                <div
                  class="mb-3 d-lg-flex align-items-center col-lg-4 col-md-12"
                >
                  <label for="" class="">Form</label>
                  <input
                    type="date"
                    class="form-control"
                    id="Form"
                    autocomplete="off"
                  />
                </div>
                <div
                  class="mb-3 d-lg-flex align-items-center col-lg-4 col-md-12" style="margin-left: 20px;"
                >
                  <label for="">Through</label>
                  <input
                    type="date"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="name@example.com"
                  />
                </div>
              </div>
              <div class="mt-5">
                <h6>Payer</h6>
                <div style="border-top: 1px solid rgb(166, 166, 166)"></div>
                <div class="form-check mt-4">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Include visits that have been billed previously
                  </label>
                </div>

                <div
                  class="mt-3 d-lg-flex d-md-flex d-sm-flex justify-content-between"
                >
                <form class="form-inline mb-3 pt-4" style="display: flex;">
                  <label for="search" class="me-2 fw-bold mt-2">Search:</label>
                  <input type="text" class="form-control mr-2 " id="search" placeholder="Search" style="width: 200px;">
                  <button type="button" class="btn btn-filter"><i class="fas fa-filter"></i></button>
              </form>
                  <div
                    class="mt-2 d-flex justify-content-between mw-25 align-items-center"
                  >
                    <p>Show</p>
                    <select
                      class="form-select form-select-sm dropdown-toggle mb-2 border-danger"
                      style="width: 50%"
                      aria-label=".form-select-sm example"
                    >
                      <option selected>10</option>
                      <option value="1">20</option>
                      <option value="2">30</option>
                      <option value="3">50</option>
                    </select>
                    <p>entries</p>
                  </div>
                </div>
                <div class="table-responsive-lg">
                  <table class="table mt-1 table-hover">
                    <thead
                      style="background-color: #f5f5f5; white-space: wrap"
                    >
                      <tr>
                        <th
                          style="
                            background-color: #eeeeee;
                            color: #2679b5;
                            border: none;
                            width: 10%;
                          "
                        >
                          Select
                        </th>
                        <th
                          style="
                            background-color: #e9edf2;
                            color: #2679b5;
                            border: none;
                          "
                        >
                          Payer
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="flexCheckChecked"
                          />
                        </td>
                        <td>MEDICAID</td>
                      </tr>
                      <tr>
                        <td>
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="flexCheckChecked"
                          />
                        </td>
                        <td>MEDICAID</td>
                      </tr>
                      <tr>
                        <td>
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="flexCheckChecked"
                            checked
                          />
                        </td>
                        <td>MEDICAID</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div
                  class="d-lg-flex d-md-block justify-content-between mt-3"
                >
                  <div class="">
                    <p class="text-sm-center text-md-center text-lg-start">
                      Showing 1 to 3 of 3 entries
                    </p>
                  </div>
                  <div class="d-flex justify-content-center">
                    <nav aria-label="..." class="">
                      <ul class="pagination">
                        <li class="page-item disabled">
                          <a
                            class="page-link"
                            href="#"
                            tabindex="-1"
                            aria-disabled="true"
                            >Previous</a
                          >
                        </li>
                        <li class="page-item active" aria-current="page">
                          <a
                            class="page-link"
                            href="#"
                            style="background-color: #6faed9"
                            >1</a
                          >
                        </li>
                        <li class="page-item disabled">
                          <a class="page-link" href="#">Next</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <h6 class="mt-4">Office</h6>
                <div style="border-top: 1px solid rgb(166, 166, 166)"></div>
                <div class="w-75 d-flex gap-3">
                  <select
                    class="form-select mt-3"
                    aria-label="Default select example"
                  >
                    <option>Enter Payer</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>

                  <div class="form-check mt-4">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="flexCheckChecked"
                      checked
                    />
                    <label class="form-check-label" for="flexCheckChecked">
                      All
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <!-- 2nd part -->
            <div class="col-lg-6 col-md-12 col-sm-12">
              <h6 class="mt-3">Execution Mode</h6>
              <div style="border-top: 1px solid rgb(166, 166, 166)"></div>
              <div class="mt-3">
                <section class="border border-primary">
                  <div class="form-check m-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault1"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                      Default radio
                    </label>
                  </div>
                  <div class="form-check m-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault2"
                      checked
                    />
                    <label class="form-check-label" for="flexRadioDefault2">
                      Default checked radio
                    </label>
                  </div>
                </section>
              </div>
              <div class="mt-5">
                <h6 class="">Generate Claim For:</h6>
                <div style="border-top: 1px solid rgb(166, 166, 166)"></div>

                <div class="form-check form-check-inline mt-4">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio1"
                    value="option1"
                  />
                  <label class="form-check-label" for="inlineRadio1">
                    All Patients for Selected Payers</label
                  >
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio2"
                    value="option2"
                  />
                  <label class="form-check-label" for="inlineRadio2"
                    >Selected Patients</label
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <button
              type="button"
              class="btn text-white"
              style="background-color: #629b58"
            >
              Generate Invoice
            </button>
          </div>
        </div>
        <!-- 2nd section -->
        <div
          class="tab-pane fade"
          id="nav-profile"
          role="tabpanel"
          aria-labelledby="nav-profile-tab"
        >
          <div class="row">
            <div class="col-lg-4 col-xs-5 mt-4">
              <div class="form-check mt-4">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                  checked
                />
                <label class="form-check-label" for="flexCheckChecked">
                  Include visits that have been billed previously
                </label>
              </div>
            </div>
            <div
              class="col-lg-8 col-xs-7 mt-4 p-lg-3 mt-2"
              style="
                border-left-style: solid;
                border-left-color: rgb(87, 103, 153);
              "
            >
              <p>
                <i
                  >This option, if selected, Home Care will include all visits for
                  the date range even if the visits had been billed
                  already.</i
                >
              </p>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button
              type="button"
              class="btn text-white"
              style="background-color: #629b58"
            >
              Generate Claim
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="d-flex justify-content-between pt-3 mt-5 mb-2 pb-2"
      style="border-top: 3px double #e5e5e5"
    >
      <div>© 2024 Home Care Healthcare Systems, LLC.</div>
      <div>Version: 8.57.4.14</div>
    </div>
  </div>