<div class="container mt-5">
  <form [formGroup]="leadform" (ngSubmit)="leadeupdateapi()">
    <div class="row">
      <div class="col-md-8"
        style="box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;">
        <div class="">
          <div class="card-header" style="font-weight: bold; font-size: 20px">
            Personal Information
          </div>
         
            <div class="card-body">
              <div class="row">
                <div class="col-md-6" style="margin-top: 40px;">
                  <div class="form-group row " >
                    <div class="col-md-6">
                      <label for="firstName">First Name</label>
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control form-control-sm" id="firstName" placeholder="Test"
                        formControlName="name" [(ngModel)]="profileData.name" style="width: 100%" />
                    </div>
                  </div>
                  <div class="form-group row mt-2" >
                    <div class="col-md-6">
                      <label for="lastName">Email</label>
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control form-control-sm" id="lastName" placeholder="email"
                        formControlName="email" [(ngModel)]="profileData.email" />
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mt-4">
                  <label for="">My Signature</label>
                  <img [src]="profileData.clientSignature" alt="" class="img-thumbnail mt-2" >
                </div>
              </div>
              <hr/>
              <div class="card-body">
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="ssn">Address</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control form-control-sm" id="ssn" placeholder="Address"
                      formControlName="address" [(ngModel)]="profileData.address" />
                  </div>
                </div>
                <div class="form-group row mt-2">
                  <div class="col-md-6">
                    <label for="ssn">City</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control form-control-sm" id="ssn" placeholder="City"
                      formControlName="City" [(ngModel)]="profileData.City" />
                  </div>
                </div>
           
                <div class="form-group row mt-2">
                  <div class="col-md-6">
                    <label for="ssn">Zip Code</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control form-control-sm" id="ssn" placeholder="Zip Code"
                      formControlName="zipCode" [(ngModel)]="profileData.zipCode" />
                  </div>
                </div>
                <div class="form-group row mt-2">
                  <div class="col-md-6">
                    <label for="ssn">Lead Create Date</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control form-control-sm" id="ssn" placeholder="Lead Create Date"
                      formControlName="leadCreatedDate" [(ngModel)]="profileData.leadCreatedDate" />
                  </div>
                </div>
                <div class="form-group row mt-2">
                  <div class="col-md-6">
                    <label for="ssn">Gender</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control form-control-sm" id="ssn" placeholder="Gender"
                      formControlName="gender" [(ngModel)]="profileData.gender" />
                  </div>
                </div>


                <div class="form-group row mt-2">
                  <div class="col-md-6">
                    <label for="ssn">State</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control form-control-sm" id="ssn" placeholder="State"
                      formControlName="State" [(ngModel)]="profileData.State" />
                  </div>
                </div>
                <div class="form-group row mt-2">
                  <div class="col-md-6">
                    <label for="ssn">MedicaidId </label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control form-control-sm" id="ssn" placeholder="MedicaidId"
                      formControlName="medicaidId" [(ngModel)]="profileData.medicaidId" />
                  </div>
                </div>
             
                <div class="form-group row mt-2">
                  <div class="col-md-6">
                    <label for="ssn">Administrator</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control form-control-sm" id="ssn" placeholder="Administrator"
                      formControlName="Administrator" [(ngModel)]="profileData.Administrator" readonly />
                  </div>
                </div>
                <div class="form-group row mt-2">
                  <div class="col-md-6">
                    <label for="ssn">Contact Number</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control form-control-sm" id="ssn" placeholder="Contact Number"
                      formControlName="contactNumber" [(ngModel)]="profileData.contactNumber" />
                  </div>
                  <!-- <button class="btn btn-success mt-2" type="submit">Save</button> -->
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h4>Add Signature</h4>
        <canvas #signatureCanvas></canvas>
        
        <div class="row">
          
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <button (click)="clearSignature()" class="btn btn-warning m-1" >Clear </button>
  <!-- <button  class="btn btn-primary" >Save  </button> -->
          </div>
          
        </div>
        
      
  
      </div>
    </div>
  <button class="btn btn-success mt-2" (click)="saveSignature()" type="submit">Update Profile</button>

  </form>

  </div>