<div class="container mt-5">
    <div class="row">
      <div class="col-md-10 offset-md-1"
        style="box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;">
        <div class="">
          <div class="card-header" style="font-weight: bold; font-size: 20px">
            Personal Information
          </div>
          <form [formGroup]="leadform" (ngSubmit)="leadeupdateapi()">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                 
                  <div class="col-sm-12 col-md-3" style="line-height: 2rem; height: 190px;">
                    <label class="ms-4" for="specificSizeSelect"> IMAGE:</label>
                    <div class="image-upload-wrap mb-3 ms-4" style="width: 90%;">
                      <div class="row">
                        <div class="col-md-6 text-center">
                          <img [src]="url"
                            style=" border-radius: 70px; height: 120px; width: 150px; margin-right: 10px; padding-bottom: 10px;">
                          <input type="file" class="form-control" style="width: 100px;"
                            formControlName="profile"   (change)="Onupload($event)">
                        </div>
                      </div>
                      <div class="drag-text">
                        <h3 style="opacity: 0;">Drag and drop a file or select</h3>
                      </div>
                    </div>
                  </div>



                </div>
                <div class="col-md-6" style="margin-top: 40px;">
                  <div class="form-group row " >
                    <div class="col-md-6">
                      <label for="firstName">First Name</label>
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control form-control-sm" id="firstName" placeholder="Test"
                        formControlName="name" style="width: 100%" />
                    </div>
                  </div>
                  <div class="form-group row mt-2" >
                    <div class="col-md-6">
                      <label for="lastName">Email</label>
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control form-control-sm" id="lastName" placeholder="email"
                        formControlName="email" />
                    </div>
                  </div>
                </div>
              </div>
              <hr />
              <div class="card-body">
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="ssn">Address</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control form-control-sm" id="ssn" placeholder="Address"
                      formControlName="address" />
                  </div>
                </div>
                <div class="form-group row mt-2">
                  <div class="col-md-6">
                    <label for="ssn">City</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control form-control-sm" id="ssn" placeholder="City"
                      formControlName="City" />
                  </div>
                </div>
           
                <div class="form-group row mt-2">
                  <div class="col-md-6">
                    <label for="ssn">Zip Code</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control form-control-sm" id="ssn" placeholder="Zip Code"
                      formControlName="zipCode" />
                  </div>
                </div>
                <div class="form-group row mt-2">
                  <div class="col-md-6">
                    <label for="ssn">Lead Create Date</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control form-control-sm" id="ssn" placeholder="Lead Create Date"
                      formControlName="leadCreatedDate" />
                  </div>
                </div>
                <div class="form-group row mt-2">
                  <div class="col-md-6">
                    <label for="ssn">Gender</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control form-control-sm" id="ssn" placeholder="Gender"
                      formControlName="gender" />
                  </div>
                </div>


                <div class="form-group row mt-2">
                  <div class="col-md-6">
                    <label for="ssn">State</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control form-control-sm" id="ssn" placeholder="State"
                      formControlName="State" />
                  </div>
                </div>
                <div class="form-group row mt-2">
                  <div class="col-md-6">
                    <label for="ssn">MedicaidId </label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control form-control-sm" id="ssn" placeholder="MedicaidId"
                      formControlName="medicaidId" />
                  </div>
                </div>
             
                <div class="form-group row mt-2">
                  <div class="col-md-6">
                    <label for="ssn">Administrator</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control form-control-sm" id="ssn" placeholder="Administrator"
                      formControlName="Administrator" readonly />
                  </div>
                </div>
                <div class="form-group row mt-2">
                  <div class="col-md-6">
                    <label for="ssn">Contact Number</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control form-control-sm" id="ssn" placeholder="Contact Number"
                      formControlName="contactNumber" />
                  </div>
                  <button class="btn btn-success mt-2" type="submit">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>