<div class="container mt-5">

    <div class="col-lg-12 col-md-12 text-white gap-2 mt-2" style="background-color: #438EB9; height: 40px;">
        <h5 class="mt-3 p-2">Add Document</h5>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <form [formGroup]="addDocumentForm" class="row g-3" >
                <div class="col-md-6">
                    <label class="form-label fw-bold" style="color: rgb(97, 95, 95);">Document</label>
                    <input type="file" class="form-control" formControlName="document" id="fileInput" (change)="Onupload($event)">
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-bold" style="color: rgb(97, 95, 95);">Expiry Date</label>
                    <input type="date" class="form-control" formControlName="expiryDate">
                </div>
                <div class="col-12 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary" (click)="addDocument()">Add Document</button>
                </div>
            </form>
        </div>
    </div>

    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-5">
           <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="documentTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="active-tab" data-bs-toggle="tab" data-bs-target="#active" 
                    type="button" role="tab" aria-controls="active" aria-selected="true">
                Active Documents
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="archive-tab" data-bs-toggle="tab" data-bs-target="#archive" 
                    type="button" role="tab" aria-controls="archive" aria-selected="false">
                Archive Documents
            </button>
        </li>
    </ul>

    <!-- Tab content -->
    <div class="tab-content" id="documentTabContent">
        <!-- Active Documents Tab -->
        <div class="tab-pane fade show active" id="active" role="tabpanel" aria-labelledby="active-tab">
            <h5>Active Documents</h5>
            
            <div class="table-responsive">

                <table class="table table-striped custom-table table-bordered">
                    <thead>
                      <tr>
                        <th>File</th>
                        <th> Active Date</th>
                        <th>Expires date</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let clientdocument of document;">
                       
      
                           <td>
                              <div class="mt-2">
                                  <img 
                                      style="width: 50px; border-radius: 30px; text-align: center;" 
                                      src="{{clientdocument.document}}" 
                                      alt="img"
                                  />
                              </div>
                          </td>
                          
                        <td style="color: green;">{{clientdocument.created_at  | date:'dd-MM-yyyy'}}</td>
                        <td class="expires-date" style="color: red;">{{clientdocument.expiryDate | date:'dd-MM-yyyy'}}</td>
                        <td>
                          <i class="fa-sharp fa-solid fa-download p-3" style="color: #438EB9;font-size: 20px;"></i>
                          <i class="fa-sharp fa-solid fa-square-pen p-3" style="color: rgb(82, 194, 82);font-size: 20px;"></i>
                          <i class="fa-solid fa-trash p-3" style="color: rgb(175, 40, 40); font-size: 20px;"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>

            
            </div>
            
           
        </div>

        <!-- Archive Documents Tab -->
        <div class="tab-pane fade" id="archive" role="tabpanel" aria-labelledby="archive-tab">
            <!-- Add your archive documents content here -->
            <div class="mt-3">
                <h5>Archive Documents</h5>
                <table class="table table-striped custom-table table-bordered">
                    <thead>
                      <tr>
                        <th>File</th>
                        <th>Date</th>
                        <th>Expires</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let a of documentss;">
      
                        <td>
                          <div class="mt-2">
                              <img 
                                  style="width: 50px; border-radius: 30px; text-align: center;" 
                                  src="{{a.document}}" 
                                  alt="img"
                              />
                          </div>
                      </td>
                   
                    <td style="color: green;">{{a.created_at  | date:'dd-MM-yyyy'}}</td>
                    <td class="expires-date" style="color: red;">{{a.expiryDate  | date:'dd-MM-yyyy'}}</td>
                        <td>
                          <i class="fa-sharp fa-solid fa-download p-3" style="color: #438EB9;font-size: 20px;"></i>
                          <i class="fa-sharp fa-solid fa-square-pen p-3" style="color: rgb(82, 194, 82);font-size: 20px;"></i>
                          <i class="fa-solid fa-trash p-3" style="color: rgb(175, 40, 40); font-size: 20px;"></i>
                        </td>
                      </tr>
                   
                    </tbody>
                  </table>            </div>
        </div>
    </div>
    </div>
    

</div>