<div class="container-fluid pt-2">
    <nav style="--bs-breadcrumb-divider: '>>'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item fs-4" style="color: #2679b5">
            User / Security Manager 
          </li>
          <li class="breadcrumb-item active fs-6 mt-2" aria-current="page">
           User search
          </li>
        </ol>
      </nav>
     <div class="row">
       <div class="col-lg-12 col-md-12 d-flex  gap-2  " style="background-color: #f0f0f0; white-space: wrap ;">
           <h5>User</h5>
           <button type="button" class="btn"  style="background-color: #6faed9;"><span>+</span>Add</button>
           <button type="button" class="btn"  style="background-color: #629B58;"><span>+</span>Add user List</button>
       </div>
       
    <div class="mt-3 d-lg-flex d-md-flex d-sm-flex justify-content-between">
        <div class="mt-2 d-flex gap-3">
          <form class="form-inline mb-3 pt-4" style="display: flex;">
            <label for="search" class="me-2 fw-bold mt-2">Search:</label>
            <input type="text" class="form-control mr-2" id="search" placeholder="Search"
                style="width: 200px;">
        </form>
          <div class="form-check mt-4">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Include Specialty Licenses
            </label>
          </div>
        </div>
        <div
          class="mt-2 d-flex justify-content-between mw-25 align-items-center"
        >
          <p>Show</p>
          <select
            class="form-select form-select-sm dropdown-toggle mb-2 border-danger"
            style="width: 50%"
            aria-label=".form-select-sm example"
          >
            <option selected>10</option>
            <option value="1">20</option>
            <option value="2">30</option>
            <option value="3">50</option>
          </select>
          <p>entries</p>
        </div>
      </div>

      <div class="table-responsive-lg">
        <table class="table mt-1 table-hover">
          <thead style="background-color: #f0f0f0; white-space: wrap">
            <tr>
              <th
                style="background-color: #e9edf2; color: #2679b5; border: none"
              >
                Select
              </th>
              <th
                style="background-color: #e9edf2; color: #2679b5; border: none"
              >
              User
              </th>
              <th
                style="
                  background-color: #f0f0f0;
                  border: none;
                  color: rgb(128 130 137);
                "
              >
                Home Care Plaus Login
              </th>      
            </tr>
          </thead>
          <tbody>
            <tr>
                <td></td>
                <td>SHOBHIT, SHOBHIT</td>
                <td>pakwichek@gmail.com</td>
            </tr>
            <tr>
                <td></td>
                <td>SHOBHIT, SHOBHIT</td>
                <td>pakwichek@gmail.com</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-lg-flex d-md-block justify-content-between mt-3">
        <div class="">
          <p class="text-sm-center text-md-center text-lg-start">
            Showing 1 to 3 of 3 entries
          </p>
        </div>
        <div class="d-flex justify-content-center ">
          <nav aria-label="..." class="">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link" href="#">First</a>
              </li>
              <li class="page-item disabled">
                <a
                  class="page-link"
                  href="#"
                  tabindex="-1"
                  aria-disabled="true"
                  >Previous</a
                >
              </li>
              
              <li class="page-item active" aria-current="page">
              </li>
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#" style="background-color: #6faed9;">1</a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="#">Last</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      </div>
</div>