<div class="container-fluid">
    <div class="card p-3 shadow">
      <h4 style="color: #2679b5">Customize</h4>
      <div style="border-top: 1px solid rgb(166, 166, 166)"></div>

      <nav>
        <div class="nav nav-tabs mb-3 mt-2" id="nav-tab" role="tablist">
          <button
            class="nav-link active"
            id="nav-home-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-home"
            type="button"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
          >
            Company
          </button>
          <button
            class="nav-link active"
            id="nav-admission-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-admission"
            type="button"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
          >
           Admission
          </button>

          <button
            class="nav-link"
            id="nav-profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-profile"
            type="button"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
          >
             Caregivers
          </button>
          <button
            class="nav-link"
            id="nav-contact-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-contact"
            type="button"
            role="tab"
            aria-controls="nav-contact"
            aria-selected="false"
          >
            Scheduler
          </button>
          <button
            class="nav-link"
            id="nav-contact-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-contact"
            type="button"
            role="tab"
            aria-controls="nav-contact"
            aria-selected="false"
          >
            Billing
          </button>
        </div>
      </nav>
      <div class="tab-content p-3 border bg-light" id="nav-tabContent">
        <div
          class="tab-pane fade active show"
          id="nav-home"
          role="tabpanel"
          aria-labelledby="nav-home-tab"
        >
          <!-- 1st tab compamy  -->
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label"
                  >Company Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="formGroupExampleInput2"
                  placeholder="All Family Home Care LLC"
                />
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label"
                  >Address Line 1</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="formGroupExampleInput2"
                  placeholder="2312 7th St. North "
                />
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label"
                  >Address Line 2</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="formGroupExampleInput2"
                  placeholder="All Family Home Care LLC"
                />
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label"
                  >Address Line 2</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="formGroupExampleInput2"
                  placeholder="All Family Home Care LLC"
                />
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label"
                  >Address Line 2</label
                >
                <input
                  type="text"
                  class="form-control w-25"
                  id="formGroupExampleInput2"
                />
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label"
                  >Address Line 2</label
                >
                <input
                  type="text"
                  class="form-control"
                  style="width: 15%"
                  id="formGroupExampleInput2"
                />
              </div>
              <h4 style="color: #2679b5">First Day of the Week</h4>

              <div class="d-flex w-100 flex-wrap m-4 gap-4">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault1"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Sunday
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault2"
                    checked
                  />
                  <label class="form-check-label" for="flexRadioDefault2">
                    Monday
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault2"
                    checked
                  />
                  <label class="form-check-label" for="flexRadioDefault2">
                    Tuesday
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault2"
                    checked
                  />
                  <label class="form-check-label" for="flexRadioDefault2">
                    Wednesday
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault2"
                    checked
                  />
                  <label class="form-check-label" for="flexRadioDefault2">
                    Thursday
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault2"
                    checked
                  />
                  <label class="form-check-label" for="flexRadioDefault2">
                    Friday
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault2"
                    checked
                  />
                  <label class="form-check-label" for="flexRadioDefault2">
                    Saturday
                  </label>
                </div>
                <!-- modal -->

                <!-- Button trigger modal -->
                <button
                  type="button"
                  class="btn btn-primary rounded-circle"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                ></button
                >Explain

                <!-- Modal -->
                <div
                  class="modal fade"
                  id="staticBackdrop"
                  data-bs-backdrop="static"
                  data-bs-keyboard="false"
                  tabindex="-1"
                  aria-labelledby="staticBackdropLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div
                        class="modal-header p-3 mb-2 bg-primary text-white"
                      >
                        <h5 class="modal-title" id="staticBackdropLabel">
                          First day of the week
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <p>
                          Based on the day selected as the First day of the
                          Payroll week, Home Care will calculate and provide
                          alerts/warnings in the scheduler for the following:
                        </p>
                        <p>
                          1)Upon saving a scheduled appointment as Completed,
                          and the caregiver’s completed visits for the payroll
                          week exceeds 40 hours.
                        </p>
                        <p>
                          2)Upon saving a scheduled appointment as Completed,
                          and the caregivers completed visits for the payroll
                          week is greater than 35 hours but less than 40.
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-success">
                          ok
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- hijl -->
          </div>
          <h6>Overtime alert</h6>
          <div style="border-top: 1px solid rgb(166, 166, 166)"></div>
            <div class="row mt-4 p-3">
            <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Display a message when the caregivers exceeds the 40 hours
                  for the payroll week
                </label>
              </div>
            </div>

            <div
              class="col-lg-6 col-xs-7"
              style="
                padding: 20px;
                border: 1px solid #eee;
                border-left-width: 5px;
                border-radius: 3px;
                border-left-color: #1b809e;
              "
            >
              <p class="border-primary">
                <i
                  >If checked, Home Care will display a message upon saving a
                  scheduled appointment as Completed, and the caregiver
                  exceeds the 40 hours for the payroll week.
                </i>
              </p>
            </div>
            </div>
          </div>
          <h6>Session Timeout</h6>
          <div style="border-top: 1px solid rgb(166, 166, 166)"></div>
            <div class="row mt-4 p-3">
            <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
            
                <label class="form-check-label" for="flexCheckDefault">
                  Session Timeout (in minutes)
                </label>
                <input type="number"id="quantity" class="w-100">
             
            </div>

            <div
              class="col-lg-6 col-xs-7"
              style="
                padding: 20px;
                border: 1px solid #eee;
                border-left-width: 5px;
                border-radius: 3px;
                border-left-color: #1b809e;
              "
            >
              <p class="border-primary">
                <i
                  >If checked, Home Care will display a message upon saving a
                  scheduled appointment as Completed, and the caregiver
                  exceeds the 40 hours for the payroll week.
                </i>
              </p>
            </div>
            </div>
            <h6>Data Import Tools</h6>
            <div style="border-top: 1px solid rgb(166, 166, 166)"></div>
              <div class="row mt-4 p-3">
                <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                      Enable Data Import Tools
                  </label>
                </div>
                </div>

                <div class="col-lg-6 col-xs-7"
                style="
                  padding: 20px;
                  border: 1px solid #eee;
                  border-left-width: 5px;
                  border-radius: 3px;
                  border-left-color: #1b809e;
                "
              >
                <p class="border-primary">
                  <i
                    >If checked, Home Care will display a message upon saving a
                    scheduled appointment as Completed, and the caregiver
                    exceeds the 40 hours for the payroll week.
                  </i>
                </p>
              </div>

                 <div
                class="col-lg-6 col-xs-7"
                style="
                  padding: 20px;
                  border: 1px solid #eee;
                  border-left-width: 5px;
                  border-radius: 3px;
                  border-left-color: #1b809e;
                "
              >
                <p class="border-primary">
                  <i
                    >If checked, Home Care will display a message upon saving a
                    scheduled appointment as Completed, and the caregiver
                    exceeds the 40 hours for the payroll week.
                  </i>
                </p>
                 </div>

              </div>
              <div class="d-flex justify-content-end mt-4 gap-2">
                  <button type="button" class="btn btn-success">Save</button>
                  <button type="button" class="btn btn-danger">Close</button>
              </div>
              
          </div>

         

          

        <!-- 2nd tabs  admission-->
        <div
          class="tab-pane fade"
          id="nav-admission"
          role="tabpanel"
          aria-labelledby="nav-admission-tab"
        >
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Display a message when the caregiver exceeds the 40 hours
                  for the payroll week
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- 3rd tabs  -->
        <div
          class="tab-pane fade"
          id="nav-contact"
          role="tabpanel"
          aria-labelledby="nav-contact-tab"
        >
          <p>
            <strong
              >This is some placeholder content the Contact tab's associated
              content.</strong
            >
            Clicking another tab will toggle the visibility of this one for
            the next. The tab JavaScript swaps classes to control the content
            visibility and styling. You can use it with tabs, pills, and any
            other <code>.nav</code>-powered navigation.
          </p>
        </div>
      </div>
    </div>