<section>

  <div class="container">

    <div class="row mt-2 ">
      <h2 class="headingmy">View all admins</h2>
      <hr>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-end">

        <button type="button" [routerLink]="['/superAdmin/admins']" routerLinkActive="router-link-active"
          class="btn "  style="color: #438eb9;">
          <i class="fas fa-user-plus"></i> Add Admin
        </button>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2">
        <div class="table-responsive headingmy1">
          <table class="table table-hover " style="text-wrap: nowrap;">
            <thead>
              <tr>
                <th>Sr No</th>
                <th>Image</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Form Date</th>
                <th>To Date</th>
                <th>Status</th>
                <th>View Licence</th>
                <th>Licence Verified</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let admin of paginatedDoctors; let i = index">
                <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                <td style="height: 20px !important;">
                  <div class="mt-2"><img style="width: 50px; height: 40px; border-radius: 20px; text-align: center;"
                      src="{{admin.image}}" class="img-fluid" alt="img" /></div>
                </td>
                <td>{{ admin.name }}</td>
                <td>{{ admin.email }}</td>
                <!-- <td>{{ admin.password }}</td> -->
                <!-- <td> <img [src]="admin.image" class="img-fluid w-100" alt=""> </td> -->
                <td>{{ admin.mobileNumber }}</td>
                <td>{{ admin.formDate }}</td>
                <td>{{ admin.toDate }}</td>
                <td>
                  <button class="btn btn-primary bg-transparent" style="border: none;box-shadow: none;">
                    <div *ngIf="!admin.account" style="color:#005dac;font-weight: bold;">Pending</div>
                    <div *ngIf="admin.account" style="color:green;font-weight: bold;">Approved</div>
                  </button>
                </td>
                <td>
                  <div>
                    <button type="button" class="btn" data-bs-toggle="modal" (click)="adminById(admin.id)" data-bs-target="#docModal"  style="color: #438eb9;"> <i class="fa-solid fa-id-card"></i>
                      Licence 
                    </button>
                
                    <!-- Modal -->
                    <div class="modal fade" id="docModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">License Document</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <!-- Display the image from the license key -->
                            <img *ngIf="adminByIdData.license" [src]="adminByIdData.license" alt="License Image" class="img-fluid" />
                
                            <!-- Show a message if there's no license image -->
                            <p *ngIf="!adminByIdData.license">No License Image Available</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                
                            <!-- Download Button -->
                            <button type="button" class="btn btn-primary" *ngIf="adminByIdData.license"
                                    (click)="downloadImage(adminByIdData.license)">
                              Download License
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                



                <td class="d-flex ">

                  <div *ngIf="admin.account" style="color: green; font-weight: bold; ">Verified Licence
                  </div>
                  <button title="Toggle Licence Status" class="btn btn-primary bg-transparent mx-2"
                    (click)="toggleVerified(admin)">
                    <i *ngIf="!admin.account" style="color: green;" class="fa-solid fa-check"></i>
                    <i *ngIf="admin.account" style="color: red;" class="fa-solid fa-xmark"></i>
                  </button>
                </td>
               
                <td>
                  <button (click)="adminById(admin.id)" class="btn btn-primary bg-transparent m-1"
                    style="color: #438eb9;" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                      class="fa-solid fa-pen-to-square"></i></button>
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Admin / Agency</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form #userForm="ngForm" (ngSubmit)="updateNurse()">
                            <div class="container mt-2 mb-3">
                              <div class="row">
                                <div class="col-lg-6">
                                  <label for="name">First Name:</label>
                                  <input type="text" class="form-control" id="name" [(ngModel)]="adminByIdData.name"
                                    name="name" required />
                                </div>

                                <div class="col-lg-6">
                                  <label for="email">email </label>
                                  <input type="text" class="form-control" id="email" [(ngModel)]="adminByIdData.email"
                                    name="email" required />
                                </div>
                              </div>


                              <div class="row">
                                <div class="col-lg-6">
                                  <label for="password">password</label>
                                  <input type="text" class="form-control" id="password"
                                    [(ngModel)]="adminByIdData.password" name="password" required />
                                </div>

                                <div class="col-lg-6">
                                  <label for="mobileNumber">mobileNumber</label>
                                  <input type="text" class="form-control" id="mobileNumber"
                                    [(ngModel)]="adminByIdData.mobileNumber" name="mobileNumber" required />
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-lg-6">
                                  <label for="fullAddress">fullAddress:</label>
                                  <input type="text" class="form-control" id="fullAddress"
                                    [(ngModel)]="adminByIdData.fullAddress" name="fullAddress" required />
                                </div>
                              </div>
                            </div>

                            <div class="modal-footer">
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                class="btn btn-secondary">Close</button>
                              <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>


                          </form>

                        </div>
                      </div>
                    </div>
                  </div>

                  <button (click)="adminById(admin.id)" class="btn btn-danger bg-transparent m-1" style="color: red;"
                  data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fa-solid fa-trash"></i></button>
              <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Admin/Agency</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to delete {{ adminByIdData.name }}?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button  class="btn-close" data-bs-dismiss="modal" aria-label="Close" type="submit" (click)="deleteDoctors(adminByIdData.id)" class="btn btn-primary">Confirm</button>
                    </div>
                  </div>
                </div>
              </div>


<!-- 
                  <button (click)="adminById(admin.id)" class="btn btn-danger bg-transparent m-1" style="color: red;"
                    data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fa-solid fa-trash"></i></button>
                  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">

                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Admin/gaency</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Are you sure want to delete {{ adminByIdData.name }} ?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" (click)="deleteDoctors(adminByIdData.id)" class="btn btn-primary">Save
                            changes</button>
                        </div>
                      </div>
                    </div>
                  </div> -->



                </td>




                <!-- <td>  
                  <button (click)="patientById(admin.id)" class="btn btn-primary bg-transparent m-1" style="color: #438eb9;" data-bs-toggle="modal" data-bs-target="#exampleModal" ><i class="fa-solid fa-pen-to-square"></i></button>
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Patient</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form #userForm="ngForm" (ngSubmit)="updatePatient()">
                            
                            <div class="container mt-2 mb-3">
                             
                              
                              <div class="row">
                                <div class="col-lg-6">
                                  <label for="name">First Name:</label>
                                  <input type="text" class="form-control" id="name" [(ngModel)]="adminByIdData.name" name="name" required />
                                </div>
                                
                                <div class="col-lg-6">
                                  <label for="middlename">Middle Name:</label>
                                  <input type="text" class="form-control" id="middlename" [(ngModel)]="adminByIdData.middlename" name="middlename" required />
                                </div>
                              </div>
                  
                              
                              <div class="row">
                                <div class="col-lg-6">
                                  <label for="lastname">Last Name:</label>
                                  <input type="text" class="form-control" id="lastname" [(ngModel)]="adminByIdData.lastname" name="lastname" required />
                                </div>
                                
                                <div class="col-lg-6">
                                  <label for="dateofBirth">Date of Birth:</label>
                                  <input type="date" class="form-control" id="dateofBirth" [(ngModel)]="adminByIdData.dateofBirth" name="dateofBirth" required />
                                </div>
                              </div>
                  
                              <div class="row">
                                <div class="col-lg-6">
                                  <label for="gender">Gender:</label>
                                  <input type="text" class="form-control" id="gender" [(ngModel)]="adminByIdData.gender" name="gender" required />
                                </div>
                                
                                <div class="col-lg-6">
                                  <label for="city">City:</label>
                                  <input type="text" class="form-control" id="city" [(ngModel)]="adminByIdData.city" name="city" required />
                                </div>
                              </div>
                  
                              <div class="row">
                                <div class="col-lg-6">
                                  <label for="email">Email:</label>
                                  <input type="text" class="form-control" id="email" [(ngModel)]="adminByIdData.email" name="email" required />
                                </div>
                              </div>
                              
                              
                            </div>
                            
                            
                            
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                            
                            
                          </form>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <button (click)="patientById(admin.id)" class="btn btn-danger bg-transparent m-1" style="color: red;" data-bs-toggle="modal" data-bs-target="#deleteModal" ><i class="fa-solid fa-trash"></i></button>
                  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Patient</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Are you sure want to delete {{ adminByIdData.name }} ?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" (click)="patientDelete(adminByIdData)" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td> -->







              </tr>
            </tbody>
          </table>
        </div>
        <!-- Pagination Controls -->
        <div class="pagination-controls">
          <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
          <span>Page {{ currentPage }} of {{ totalPages }}</span>
          <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
        </div>
      </div>
    </div>
  </div>
</section>