<div class="container-fluid">
    <nav style="--bs-breadcrumb-divider: '>>'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item fs-4" style="color: #2679b5">
            CareConnect Conflicts
          </li>
          <li class="breadcrumb-item active fs-6 mt-2" aria-current="page">
            Summary
          </li>
        </ol>
      </nav>
      <div class="border border-1 p-3">
        <div class="col-lg-12 col-md-12 d-flex  gap-2  mt-2 " style="background-color: #f0f0f0; white-space: wrap ;">
            <h5 class="fs-4 m-1 " style="color: #777 ;"> SHOBHIT, SHOBHIT</h5>
         </div>
         <!--  -->
         <div class="row mt-3">
            <div class="col-lg-4">
                    <label for="">Date To:</label>
                    <input type="date">
            </div>
            <div class="col-lg-4">
                    <label for="">Date To:</label>
                    <input type="date">
            </div>
         </div>
        <!--  -->
         <div class="mt-3 d-lg-flex d-md-flex d-sm-flex justify-content-between ">
          <form class="form-inline mb-3" style="display: flex;">
            <label for="search" class="me-2 mt-2">Search:</label>
            <input type="text" class="form-control mr-2 " id="search"
                placeholder="Search" style="width: 200px;">
            <button type="button" class="btn btn-filter"><i
                    class="fas fa-filter"></i></button>
        </form>
              <div class="mt-1 d-flex justify-content-between mw-25 align-items-center">
                <p>Show</p>
                <select
                class="form-select form-sel ect-sm dropdown-toggle mb-2 border-danger"
               style="width: 50%"
                aria-label=".form-select-sm example">
               
                <option selected>10</option>
                <option value="1">20</option>
                <option value="2">30</option>
                <option value="3">50</option>
              </select>
              <p>entries</p>
            </div>
        </div>
       <!--  -->
       <div class="table-responsive mt-3 mb-3">
        <table class="table mt-1 table-hover">
          <thead style="background-color: #f0f0f0; white-space: wrap">
            <tr>
              <th
                style="background-color: #e9edf2; color: #2679b5; border: none"
              >
                Visit
              </th>
             
              <th
                style="
                  background-color: #f0f0f0;
                  border: none;
                  color: rgb(128 130 137);
                "
              >
                PAN#
              </th>
              <th
                style="
                  background-color: #f0f0f0;
                  border: none;
                  color: rgb(128 130 137);
                "
              >
                Admit Data
              </th>
              <th
                style="
                  background-color: #f0f0f0;
                  border: none;
                  color: rgb(128 130 137);
                "
              >
                Discharge Date
              </th>
              <th
                style="
                  background-color: #f0f0f0;
                  border: none;
                  color: rgb(128 130 137);
                "
              >
                DOB
              </th>
              <th
                style="
                  background-color: #f0f0f0;
                  border: none;
                  color: rgb(128 130 137);
                "
              >
                Office Name
              </th>
              <th
                style="
                  background-color: #f0f0f0;
                  border: none;
                  color: rgb(128 130 137);
                "
              >
                Office Name
              </th>
              <th
                style="
                  background-color: #f0f0f0;
                  border: none;
                  color: rgb(128 130 137);
                "
              >
                Office Name
              </th>
              <th
                style="
                  background-color: #f0f0f0;
                  border: none;
                  color: rgb(128 130 137);
                "
              >
                Office Name
              </th>
              
            
            </tr>
          </thead>
          <tbody>
            <tr scope="row">
              <td colspan="14" class="text-center">
                No data available in table
              </td>
            </tr>
          </tbody>
        </table>
      </div>
          <div class="d-lg-flex d-md-block justify-content-between mt-4">
                  <div class="">
                    <p class="text-sm-center text-md-center text-lg-start">
                      Showing 1 to 3 of 3 entries
                    </p>
                  </div>
                  <div class="d-flex justify-content-center ">
                    <nav aria-label="..." class="">
                      <ul class="pagination">
                        <li class="page-item disabled">
                          <a class="page-link" href="#">First</a>
                        </li>
                        <li class="page-item disabled">
                          <a
                            class="page-link"
                            href="#"
                            tabindex="-1"
                            aria-disabled="true"
                            >Previous</a
                          >
                        </li>
                      
                        <li class="page-item disabled">
                          <a class="page-link" href="#">Next</a>
                        </li>
                        <li class="page-item disabled">
                          <a class="page-link" href="#">Last</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
          </div> 
          <div style="border-top: 1px solid rgb(166, 166, 166)"></div>  

      <div class=" mt-4 mb-5">
        <button type="button" class="btn " style="background-color: #84B3DC;">End Visit</button>
        <button type="button" class="btn " style="background-color: #BADAEE;">Acknowledge</button>
        <button type="button" class="btn " style="background-color: #BAB0D5;">Review GPS Information</button>
        <button type="button" class="btn " style="background-color: #B1D1AC">Remove Without Action</button>
        <button type="button" class="btn " style="background-color: #FFD08E;">Update Start/End date and time</button>
        <button type="button" class="btn " style="background-color: #C8D2D8;">Update Billing code</button>
        <button type="button" class="btn " style="background-color: #C8D2D8;">Update HHAExchange Codes</button>  
      </div>
      </div>

   

</div>