
<nav class="navbar navbar-expand-sm p-0 fixed-top" style="background-color: #e7eaea;">
    <div class="container-fluid">
        <div class="unique-logo-section">

            <button class="navbar-toggler mt-3 border-0 text-light" style="background-color: #5090bf;" type="button"
            (click)="toggleSidebar2()">
            <i class="fa-sharp fa-light fa-bars"></i>
            
        </button>
            <a  > <img src="../../assets/ApexCare360-01.svg"
                    style="width: 100px;" class="card-img-top" alt="..."></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="collapsibleNavbar">
            <ul class="navbar-nav navbarul">
                <li class="nav-item" style="border-right: 1px solid gray;">
                    <a class="nav-link"  >Hii, {{caregiverNames}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer;" (click)="logouts()">LogOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
    <div class="unique-sidebar col-lg-3 col-md-3 col-sm-3 mt-5 " id="sidebar">

        <div class="unique-search-section">

        </div>
        <ul class="nav flex-column unique-nav mt-2">
            <li class="nav-item">
                <a class="nav-link unique-nav-link">
                    <i class="fa-sharp fa-solid fa-magnifying-glass unique-icon"></i>
                    <input type="text" class="form-control unique-search-input unique-nav-text"
                        placeholder="Menu Search...">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link unique-nav-link" (click)="toggleSidebar()">
                    <i class="fas fa-arrow-left unique-icon"></i>
                    <span class="unique-nav-text">Collapse</span>
                </a>
            </li>
            <!-- <li class="nav-item">
                <a routerLink="/nurse/nurse_home" class="nav-link unique-nav-link">
                    <i class="fas fa-home unique-icon"></i>
                    <span class="unique-nav-text">Home</span>
                </a>
            </li> -->
            <li class="nav-item">
                <a routerLink="/nurse/nurse_dashboard" class="nav-link unique-nav-link">
                    <i class="fas fa-tachometer-alt unique-icon"></i>
                    <span class="unique-nav-text">Dashboard</span>
                </a>
            </li>
          
            <li class="nav-item">
                <a routerLink="/nurse/leads" class="nav-link unique-nav-link">
                   
                    <i class="fas fa-solid fa-users unique-icon"></i>
                    <span class="unique-nav-text">Leads</span>
                </a>
            </li>

            <li class="nav-item">
                <a routerLink="/nurse/nurse_alote_view" class="nav-link unique-nav-link">
              
                    <i class="fas fa-solid fa-user-plus unique-icon"></i>
                    <span class="unique-nav-text">My Profile</span>
                </a>
            </li>

            <li class="nav-item">
                <a routerLink="/nurse/add_document" class="nav-link unique-nav-link">
                    <i class="fas fa-solid fa-user-plus unique-icon"></i>
                    <span class="unique-nav-text">Nurse Document</span>
                </a>
            </li>

            <li class="nav-item">
                <a routerLink="/nurse/caregiver_certificate" class="nav-link unique-nav-link">
                    <i class="fas fa-solid fa-user-plus unique-icon"></i>
                    <span class="unique-nav-text">Nurse Certificates</span>
                </a>
            </li>

            <li class="nav-item">
                <a routerLink="/nurse/nurseverifydocument" class="nav-link unique-nav-link">
              
                    <i class="fas fa-solid fa-user-plus unique-icon"></i>
                    <span class="unique-nav-text">Nurse Verify Document</span>
                </a>
            </li>
            <li class="nav-item">
                <a (click)="logouts()" class="nav-link unique-nav-link">
                    <i class="fas fa-right-from-bracket unique-icon"></i>
                    <span class="unique-nav-text">LogOut</span>
                </a>
            </li>
          
        </ul>
    </div>
    <div class="col-lg-8 col-md-8 mt-5">
        
<router-outlet></router-outlet>
        
    </div>

</div>
<div class="d-flex justify-content-between pt-3 mb-2 pb-2" style="border-top: 3px double #E5E5E5;">
    <div>© 2024 All Family Homecare Systems, LLC.</div>
    <div>Version: 8.57.4.14</div>
</div>