
   
  

  <div class="dashboard-page mt-4">

    <div class="container-fluid" >
        <section id="minimal-statistics">
            <div class="row">
              <div class="col-12 mt-3 mb-1">
                <h4 class="text-uppercase">Dashboard</h4>
                <p>Admin Dashboard</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-3 col-sm-6 col-12" routerLink="/Admin/Client_view">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="align-self-center">
                        
                          <i class="icon-user success font-large-2 float-left"></i>
                        </div>
                        <div class="media-body text-right">
                          <h3>{{activeClientsCount }}</h3>
                          <span>Active Clients</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12"  routerLink="/Admin/Leadlist">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="align-self-center">
                          <i class="icon-speech warning font-large-2 float-left"></i>
                        </div>
                        <div class="media-body text-right">
                          <h3>{{patientsCounts}}</h3>
                          <span>Open Lead Request</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12" routerLink="/Admin/Client_view">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="align-self-center">
                          <i class="icon-graph success font-large-2 float-left"></i>
                        </div>
                        <div class="media-body text-right">
                          <h3>1</h3>
                          <span>Expired  Caregivers date</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12" routerLink="/Admin/Client_view">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="align-self-center">
                          <i class="icon-pointer danger font-large-2 float-left"></i>
                        </div>
                        <div class="media-body text-right">
                          <h3>22</h3>
                          <span>Expired client  date</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
               
              </div>
            </div>
    
    
          </section>

        <div class="row text-center mt-3">
        
          <div class="col-lg-3 col-12 mb-3 Addbox">
            <div class="main-box-orange main-box-orange2 Addbox">
                <h5 class="text-white"><i class="fas fa-box me-3 fs-3"></i>Active</h5>
            </div>
        </div>
            <div class="col-lg-3 col-12 mb-3 Addbox">
                <div class="main-box-orange Addbox">
                    <h5 class="text-white"><i class="fas fa-box me-3 fs-3"></i> Orders and QA Management</h5>
                </div>
            </div>
            <div class="col-lg-3 col-12 mb-3 Addbox">
                <div class="main-box-orange main-box-blue1 Addbox">
                    <h5 class="text-white"><i class="fa-regular fa-up-right-from-square me-3 fs-3"></i> OASIS & CAHPS Export</h5>
                </div>
            </div>
            <div class="col-lg-3 col-12 mb-3 Addbox">
                <div class="main-box-blue Addbox">
                    <h5 class="text-white"><i class="fas fa-cloud me-3 fs-3"></i>Enterprise Wednesday 07:28 AM</h5>
                    <p></p>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-8 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <h6 class="fw-bold">Visit Statistics: 10/10/2024 - 10/16/2024</h6>
                            <button class="btn btn-dark btn-sm ms-auto mb-2">Select Statics</button>
                        </div>
                        
                        <div class="table-responsive">
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr class="table-light">
                                        <th>SN</th>
                                        <th>PT</th>
                                        <th>OT</th>
                                        <th>ST</th>
                                        <th>MSW</th>
                                        <th>HHA</th>
                                        <th>OTHR</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Scheduled</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Missed</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Completed</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Unposted</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-3" >
                <div class="active-payer-box" style="height: 310px;">
                    <h6 class="fw-bold">Active Patients by Payer (0)</h6>
                   
                    <a  class="view-all-link">View All</a>
                    <div class="d-flex justify-content-center mt-4">
                        <i class="fas fa-chevron-left"></i>
                        <div class="px-3">No Active Patients</div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
